.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/*body{

  background-color: rgba(14, 112, 112, 0.468);
}*/
 .hero {
            background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('ngo-header.jpg');
            background-size: cover;
            background-position: center;
            color: white;
            text-align: center;
            padding: 150px 0 100px;
            margin-top: 60px;
        }
        
        .hero h1 {
            font-size: 2.5rem;
            margin-bottom: 20px;
        }
        
        .hero p {
            font-size: 1.2rem;
            max-width: 700px;
            margin: 0 auto 30px;
        }
        .hero a{
          color: black;
          background-color: aliceblue;
        }
        .hero a:hover{
          background-color: #3554ec;
          color:white;
        }
        .hero-section{
          padding: 10px;
        }
       .hero-section h1{
        color: #4b5320;
       }
       .hero-section p{
        color: #545a2c;
       }
       .hero-section Button:hover{
        background-color: green;
       }